*{
    margin:0;
    padding:0
}


html, body{
    font-family:'Montserrat','serif';
    -ms-overflow-style:auto;
    scrollbar-width:none;
    /* scroll-behavior: smooth !important;
        scroll-snap-type: y mandatory; */
}

/* ANIM */
.carousel-volley img{
        border-radius: 3%;
        width: 400px;
        height: 225px;
        text-align: center;
}

.fade{
    opacity: 0;
    transition: 2s ease-in-out;
  }
  .fade.animated{
    opacity: 1;
  }
  .width90{
      width: 0%;
      transition: 1.5s ease-in-out;
  }
  .width90.animated{
      width: 90%;
  }
  .width75{
    width: 0%;
    transition: 1.5s ease-in-out;
}
.width75.animated{
    width: 75%;
}
.width85{
    width: 0%;
    transition: 1.5s ease-in-out;
}
.width85.animated{
    width: 85%;
}
.width87{
    width: 0%;
    transition: 1.5s ease-in-out;
}
.width87.animated{
    width: 87%;
}
.width70{
    width: 0%;
    transition: 1.5s ease-in-out;
}
.width70.animated{
    width: 70%;
}
.width65{
    width: 0%;
    transition: 1.5s ease-in-out;
}
.width65.animated{
    width: 65%;
}
.width80{
    width: 0%;
    transition: 1.5s ease-in-out;
}
.width80.animated{
    width:80%;
}
.width83{
    width: 0%;
    transition: 1.5s ease-in-out;
}
.width83.animated{
    width: 83%;
}
.width100{
    width: 0%;
    transition: 1.5s ease-in-out;
}
.width100.animated{
    width: 100%;
}
  .slideTop{
    transform: translateY(200px);
    transition: 1.5s ease-in-out;
  }
  .slideTop.animated{
    transform: translateY(0px);
  }
  .slideBottom{
    transform: translateY(-200px);
    transition: 1.5s ease-in-out;
  }
  .slideBottom.animated{
    transform: translateY(0px);
  }
  .slideLeft{
    transform: translateX(-200px);
    transition: 1.5s ease-in-out;
  }
  .slideLeft.animated{
    transform: translateX(0px);
  }
  .slideRight{
    transform: translateX(200px);
    transition: 1.5s ease-in-out;
  }
  .slideRight.animated{
    transform: translateX(0px);
  }
  .slideTopPetit{
    transform: translateY(50px);
    transition: 1.5s ease-in-out;
  }
  .slideTopPetit.animated{
    transform: translateY(0px);
  }
  .slideBottomPetit{
    transform: translateY(-50px);
    transition: 1.5s ease-in-out;
  }
  .slideBottomPetit.animated{
    transform: translateY(0px);
  }
  .slideLeftPetit{
    transform: translateX(-50px);
    transition: 1.5s ease-in-out;
  }
  .slideLeftPetit.animated{
    transform: translateX(0px);
  }
  .slideRightPetit{
    transform: translateX(20px);
    transition: 1.5s ease-in-out;
  }
  .slideRightPetit.animated{
    transform: translateX(0px);
  }

.containerScroll {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

}
.containerScroll-smooth {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    scroll-snap-align: start;
    scroll-behavior:smooth;
}
body::-webkit-scrollbar{
    display:none
}
section{
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center
}
section h1{
    position:relative;
    /* color: red; */
    color:#fff;
    font-size:9em;
    font-weight:800;
    z-index:2;
    transition:2s;
    animation:first 2s alternate infinite
}
@keyframes first{
    0%{
        font-size:9em
    }
    80%{
        font-size:10.5em
    }
    100%{
        font-size:10.5em
    }
}
section h1:hover{
    filter:blur(10px);
    transition: 2s;
    /* transform: translateX(-200px) translateY(-150px) scale(0.8); */
    /* transform: translateY(-150px); */
    transform:scale(1.3);
    opacity: 0.5;
    animation-play-state:paused
}
.h1hover{
    filter:blur(40px);
    transform:scale(1.2)
}
section img{
    position:absolute;
    top:0%;
    left:0%;
    width:130%;
    height:130%;
    pointer-events:none;
    filter:blur(20px);
    transition:2s
}
section h1:hover~img{
    top:0;
    left:0;
    width:100%;
    height:100%;
    filter:blur(0)
}
.imghover{
    top:0;
    left:0;
    width:100%;
    height:100%;
    filter:blur(0)
}
.img-presentation{
    content:url(images/Fond/FondJoudBlackCut.webp) 
}
#scrollDown{
    z-index:1;
    position:absolute;
    bottom:20px;
    left:50%;
    display:inline-block;
    -webkit-transform:translate(0,-50%);
    transform:translate(0,-50%);
    color:#fff;
    letter-spacing:.1em;
    text-decoration:none;
    transition:opacity .3s;
    padding-top:60px;
    cursor:pointer
}
#scrollDown #span1{
    position:absolute;
    top:0;
    left:50%;
    width:30px;
    height:50px;
    margin-left:-15px;
    border:2px solid #fff;
    border-radius:50px;
    box-sizing:border-box
}
#scrollDown #span1::before{
    position:absolute;
    top:10px;
    left:50%;
    content:'';
    width:6px;
    height:6px;
    margin-left:-3px;
    background-color:#fff;
    border-radius:100%;
    animation:sdb10 2s infinite;
    box-sizing:border-box
}
#scrollDown #span2{
    position:absolute;
    bottom:-18px;
    left:50%;
    width:18px;
    height:18px;
    content:'';
    margin-left:-9px;
    border-left:2px solid #fff;
    border-bottom:2px solid #fff;
    transform:rotate(-45deg);
    animation:sdb07 2s infinite;
    box-sizing:border-box
}
#scrollDown #span2::after{
    animation:sdb07 2s infinite;
    position:absolute;
    bottom:7px;
    left:7px;
    width:18px;
    height:18px;
    content:'';
    border-left:2px solid #fff;
    border-bottom:2px solid #fff;
    box-sizing:border-box
}
#scrollDown #span2::after{
    animation:sdb07 2s infinite;
    position:absolute;
    bottom:7px;
    left:7px;
    width:18px;
    height:18px;
    content:'';
    border-left:2px solid #fff;
    border-bottom:2px solid #fff;
    box-sizing:border-box
}
.full{
    height:100vh;
    margin:0;
    padding:0;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover
}
#home{
    z-index:0;
    /* background:url(images/Fond/FondJoudBlackCut.webp) no-repeat center; */
    overflow:hidden
}
#about{
    z-index:0;
    overflow:hidden
}
#skills{
    background-color:#171617;
    overflow:hidden
}
#career{
    background-color:#fff;
    overflow:hidden
}
#portfolio{
    background-color:#171617;
    overflow:hidden;
}
#contact{
    background-color:#fff;
    overflow:hidden
}
#image-fixed{
    position:fixed;
    bottom:0%;
    z-index:2000;
    transition: fade 2s
}
#image-fixed a{
    margin:0;
    width:100%
}
.reseaux{
    margin:0;
    padding:0;
    width:4%;
    transition:all 1s
}
.reseaux:hover{
    transform:translateY(-15px)
}
#langue{
    position:fixed;
    right:2%;
    top:1.2%;
    z-index:2000;
    line-height:2.65
}
img.flag{
    width:30px;
    transition-duration:0.5s
}
img.flag:hover{
    transform:scale(1.15);
    opacity:1.15
}
.activeMenu{
    color: #e3b405;
}
#navmenu{
    background-color: #171617;
    border-bottom: solid 2px #e3b405;
    z-index:2000;
    transition:0.5s;
    position:fixed;
    width:100%;
    height:7vh;
    top:0
}
ul li{
    list-style-type:none;
    font-size:3vh;
    flex-grow:1;
    line-height:2.3;
    height:100%;
    transition:0.5s
}
ul{
    height:7vh;
    margin:0;
    padding:0;
    margin-left:15vw;
    margin-right:15vw;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    text-align:center;
    align-items:center
}
ul li a{
    color:#fff
}
.menu{
    z-index:3;
    transition-duration:0.5s
}
#navmenu.menu-scroll{
    background-color:#171617;
    border-bottom:solid 2px #e3b405;
    z-index:2000
}
#lihomeMenu{
    border-right:solid 1px #272f38
}
#liaboutMenu{
    border-right:solid 1px #272f38
}
#liskillsMenu{
    border-right:solid 1px #272f38
}
#licareerMenu{
    border-right:solid 1px #272f38
}
#liportfolioMenu{
    border-right:solid 1px #272f38
}
#lihomeMenu.homemenu{
    border-right:solid 1px #272f38
}
#liaboutMenu.aboutmenu{
    border-right:solid 1px #272f38
}
#liskillsMenu.skillsmenu{
    border-right:solid 1px #272f38
}
#licareerMenu.careermenu{
    border-right:solid 1px #272f38
}
#liportfolioMenu.portfoliomenu{
    border-right:solid 1px #272f38
}
.menu:hover{
    color:#e3b405
}
.JC{
    position:fixed;
    width:85px;
    left:2%;
    top:.5%
}
.titreaccueil{
    margin:0;
    margin-left:5vw
}
#jesuis{
    /* width:60%; */
    position:relative;
    /* top:20%; */
    font-size:9em;
    color: #fff;
    /* color:#e3b405; */
    
}


section h1:hover~#quoi{
    display: inline;
    
}
#quoi{
    display: none;
    position:absolute;
    left: 0;
    top:15%;
    color:#fff;
    font-size:9vh;
    
   
}
section h1:hover~#quoi2{
    display: inline;
}
#quoi2{
    display: none;
    position:absolute;
    left: 0;
    top:28%;
    color:#fff;
    font-size:9vh
}
.title-section{
    position:relative;
    top:7vh;
    color:#1A1E23;
    font-weight:700;
    font-size:43px;
    /* line-height:50px; */
    text-align:center;
    height:20px;
    padding:20px;
    text-transform:uppercase;
    animation:fadeSimple 2s;
    visibility:visible
}
.bloc-presentation{
    margin:1em
}
#dePlus{
    padding-top: 2%;
}
.photo-presentation{
    margin-top:5%;
    margin-left:5%;
    width:30%
}
.mySlides{
    display:none
}
.mySlides img{
    width:100%;
    vertical-align:middle
}
.slideshow-container{
    max-width:450px;
    position:relative
}
.prev,.next{
    cursor:pointer;
    position:absolute;
    top:50%;
    width:auto;
    padding:16px;
    margin-top:-22px;
    color:#fff;
    font-weight:700;
    font-size:28px;
    transition:0.6s ease;
    border-radius:0 3px 3px 0;
    user-select:none
}
.next{
    right:0;
    border-radius:3px 0 0 3px
}
.prev{
    left:0;
    border-radius:3px 0 0 3px
}
.prev:hover,.next:hover{
    background-color:rgba(0,0,0,.8)
}
.numbertext{
    color:#f2f2f2;
    font-size:12px;
    padding:8px 12px;
    position:absolute;
    top:0
}
.dot-container{
    width:450px;
    text-align:center
}
.dot{
    cursor:pointer;
    height:15px;
    width:15px;
    margin:0 2px;
    background-color:#bbb;
    border-radius:50%;
    display:inline-block;
    transition:background-color 0.6s ease
}
.active,.dot:hover{
    background-color:#717171
}
.text-presentation{
    margin-top:3%;
    left:45%;
    width:58%;
    font-size:20px;
    text-align:center
}
.about-presentation{
    display:flex;
    flex-direction:row;
    width:100%;
    height:95%;
    margin-top:2%
}
.bloc-presentation p{
    padding:2%;
    text-align:justify;
    font-size:120%
}
.link{
    text-decoration:none;
    color:#1A1E23
}
#chenoislink{

}
#chenoislink:hover{
    transition:0.4s;
    color:#e3b405!important
}
.logo{
    width:20%;
    margin-left: 2%;
    margin-right: 2%;
}
#chenois{
    width:20%
}
.button{
    /* color:#171617!important;
    text-transform:uppercase;
    text-decoration:none;
    background:#fff;
    padding:15px;
    border:2px solid #171617!important;
    display:inline-block;
    transition:all 0.4s ease 0s */
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 50px;
    color: white !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #171617;
    padding: 20px;
    border: 2px solid #171617 !important;
    display: inline-block;
    transition: all 0.4s ease 0s
}
.button:hover{
    color:#ffffff!important;
    background:#e3b405;
    border-color:#e3b405!important;
    transition:all 0.4s ease 0s
}
.button-download{
    margin-top:1%
}
.skill-content{
    height:85%;
    display:flex;
    flex-direction:column
}
.technical-skill{
    color:#fff;
    width:95%;
    margin:20px;
    margin-top:3%;
    display:flex;
    flex-direction:row;
    justify-content:space-around
}
.oneskill{
    position:relative;
    display:flex;
    margin-bottom:4%
}
.oneskill .name{
    font-weight:700;
    position:relative;
    width:130px;
    text-align:right
}
.oneskill .value{
    position:relative;
    width:40px;
    text-align:left
}
.oneskill .percent{
    position:relative;
    width:30vw;
    height:20px;
    margin:0 10px;
    border-radius:10px;
    /* background:#707B7C; */
    /* background: black; */
    /* box-shadow:inset 0 0 2px #171617; */
    /* overflow:hidden */
}
.oneskill .percent .progress{
    position:absolute;
    top:0;
    left:0;
    /* width:90%; */
    height:100%;
    border-radius:10px;
    background:rgb(255,255,255);
    background:linear-gradient(94deg,rgba(255,255,255,1) 0%,rgba(227,180,5,1) 100%)
}
.oneskill .percent .progress::before{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius:10px;
    background:rgb(255,255,255);
    background:linear-gradient(94deg,rgba(255,255,255,1) 0%,rgba(227,180,5,1) 100%);
    filter: blur(6px);
    
}
.oneskill .percent .progress::after{   
    content: '';
    position:absolute;
    top:0;
    left:0;
    /* width: 100%; */
    height: 100%;
    border-radius:10px;
    background:rgb(255,255,255);
    background:linear-gradient(94deg,rgba(255,255,255,1) 0%,rgba(227,180,5,1) 100%);
    filter: blur(5px);
    
}
.personal-skill .oneskill{
    margin-bottom:3%
}
.columnskill{
    height:50%;
    margin-top:3%
}
.personal-skill{
    color:#fff;
    width:90%;
    height:35%;
    margin:40px;
    display:flex;
    flex-direction:column;
    justify-content:space-around
}
.oneskill .percentP{
    position:relative;
    width:100%;
    height:20px;
    margin:0 10px;
    border-radius:10px;
    /* background:#707B7C; */
    /* box-shadow:inset 0 0 2px #171617; */
    /* overflow:hidden */
}
.oneskill .percentP .progressP{
    position:absolute;
    top:0;
    left:0;
    /* width:90%; */
    height:100%;
    border-radius:10px
}
#french::before{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius:10px;
    filter: blur(6px);
    /* background:rgb(14,11,232); */
    background:linear-gradient(93deg,rgba(14,11,232,1) 0%,rgba(255,255,255,1) 51%,rgba(255,0,0,1) 100%)
    
}
#french::after{   
    content: '';
    position:absolute;
    top:0;
    left:0;
    /* width: 100%; */
    height: 100%;
    border-radius:10px;
    filter: blur(5px);
    /* background:rgb(14,11,232); */
    background:linear-gradient(93deg,rgba(14,11,232,1) 0%,rgba(255,255,255,1) 51%,rgba(255,0,0,1) 100%)
    
}
#french{
    /* background:rgb(14,11,232); */
    background:linear-gradient(93deg,rgba(14,11,232,1) 0%,rgba(255,255,255,1) 51%,rgba(255,0,0,1) 100%)
}
#uk::before{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius:10px;
    filter: blur(6px);
    background-image:url(images/Z-Others/UK.png);
    background-size:100%
    
}
#uk::after{   
    content: '';
    position:absolute;
    top:0;
    left:0;
    /* width: 100%; */
    height: 100%;
    border-radius:10px;
    filter: blur(5px);
    /* background:rgb(14,11,232); */
    background-image:url(images/Z-Others/UK.png);
    background-size:100%
    
}
#uk{
    background-image:url(images/Z-Others/UK.png);
    background-size:100%
}
.container-personalSkills{
    display:inline-flex;
    flex-direction:row;
    justify-content:space-evenly;
    width:105%
}
.bloc-personal-skill{
    padding-bottom:20px;
    width:13%;
    display:flex;
    flex-direction:column;
    text-align:center
}
.name-personalSkills{
    font-size:18px;
    font-weight:500;
    color:#fff;
    margin:10px
}
.skillPhoto{
    width:80%
}
.career-content{
    height:80%;
    display:flex;
    flex-direction:row;
    margin-top:2%
}
.career-column{
    width:100%;
    height:100%;
    margin:3%;
    margin-top:2%
}
.middle{
    margin-top:5%;
    border-left:solid #171617
}
.career-photos{
    width:22%
}
.career-infos{
    display:flex;
    flex-direction:row;
    padding:2%
}
/* .career-infos-reverse{
    overflow: hidden;
    display:flex;
    flex-direction:row-reverse;
    padding:2%
} */
.career-text{
    padding:6%;
    width:80%
}
.career-right{
    text-align:start
}
.career-left{
    text-align:end
}
.sous-titre-career{
    font-size:2.5em
}
#title-portfolio{
    color:#fff
}
.portfolio-page .button{
    cursor:pointer;
    color:#fff!important;
    text-transform:uppercase;
    text-decoration:none;
    background:#171617;
    padding:15px;
    border:2px solid #fff!important;
    display:inline-block;
    transition:all 0.4s ease 0s
}
.portfolio-page .button:hover{
    color:#171617!important;
    background:#e3b405;
    border-color:#e3b405!important;
    transition:all 0.4s ease 0s
}
.button-portfolio{
    margin-top:1%;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center
}
.button-portfolio .button{
    font-size:1.5em;
    margin-right:10px;
    margin-left:10px;
    width:10em;
    text-align:center
}
.portfolio-content{
    height:70%;
    display:flex;
    flex-direction:column;
    margin-top:5%
}
#items-portfolio{
    margin-top:2%;
    height:80%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly
}
.one-item{
    flex-direction: column;
    /* display: block; */
    max-width: 310px;
    justify-content: center;
}
.image-portfolio img{
    border-radius:3%;
    width:310px;
    height:310px;
    text-align:center
}
#items-portfolio h3{
    color:#fff!important;
    margin-top:5%;
    text-align:center
}
#items-portfolio h4{
    font-weight:400;
    color:#fff;
    text-align:center
}
.image-portfolio{
    text-align:center;
    position:relative;
    overflow:hidden;
    border-radius:3%
}
.portfolio-img{
    /* filter: grayscale(90%); */
    transition:all .5s;
}
.portfolio-img:hover{
    /* filter: grayscale(0%); */
}
.portfolio-text{
    text-align:center;
    position:absolute;
    margin-top:5%;
    bottom:0;
    height:30%;
    padding:2px;
    width:100%;
    background:rgba(0,0,0,.85);
    color:#fff;
    transform:translateY(100%);
    opacity:0;
    font-size:.9em
}
#swipeTel{
    display: none;
}
.image-portfolio:hover .portfolio-text{
    transition:all 1.5s;
    transform:translateY(0);
    opacity:1
}
.image-portfolio:hover .portfolio-img{
    transition:all 1.5s;
    transform:scale(1.15);
    opacity:.6
}
#videoICON{
    width: 370px;
    margin-top: 8%;
    border-radius: 3%;
}
#videoBATTLE{
    width: 370px;
    margin-top: 8%;
    border-radius: 3%;
}
#wrapper{
    width:100%;
    max-width:964px;
    position:relative
}
#carousel{
    overflow:auto;
    scroll-behavior:smooth;
    scrollbar-width:none
}
#carousel::-webkit-scrollbar{
    height:0
}
#prev,#next{
    display:flex;
    justify-content:center;
    align-content:center;
    background:#fff;
    border:none;
    padding:8px;
    border-radius:50%;
    outline:0;
    cursor:pointer;
    position:absolute
}
#prev{
    top:50%;
    left:-80px;
    transform:translate(50%,-50%);
    display:none
}
#next{
    top:50%;
    right:-80px;
    transform:translate(-50%,-50%)
}
#content{
    display:grid;
    grid-gap:16px;
    grid-auto-flow:column;
    margin:auto;
    box-sizing:border-box;
    justify-items: center;
}
/* Portfolio popup */


#portfolio{
    background: rgba(23, 22, 23);
    /* visibility: hidden; */
}
.right-popup{
    margin: 3%;
    text-align: justify;
}
.centerPop{
    text-align: center;
}
.overlay {
    position: fixed;
    /* top: 0; */
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(23, 22, 23, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility:visible;
    opacity: 1;
  }
  
  .popup {
    
    text-align: center;
    border: solid 7px;
    color: #fff;
    z-index: 10000;
    margin: auto;
    padding: 20px;
    background: #171617;
    border-radius: 5px;
    width: 50%;
    position: relative;
    /* transition: opacity 500ms; */
    transition: all 200ms ease-in-out;
  }
  .popup .button{
      transition: none;
  }
  
  .popup h2 {
    margin-top: 0;
    
    /* font-family: Tahoma, Arial, sans-serif; */
  }
  .closeAndert:target{
      
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;

    /* transition: all 200ms; */
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  .popup .close:hover {
    color: #e3b405;
  }
  .popup .content {
    max-height: 100%;
    overflow: auto;
  }
  .flex-popup{
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .imgPopup{
    width: 310px;
    height: 310px;
    border-radius: 3%;
}
.popup video{
    width: 310px;
    border-radius: 3%;
}

  /* END PORTFOLIO POPUP */

  /*CONTACT*/
.form-contact{
    margin-top: 5%;
}
  
.feedback-input {
    color:#171617;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #171617;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid #e3b405; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 30%;
    background:#e3b405;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#171617; }


.item{
    width:180px;
    height:180px;
    background:red
}
.contact-content{
    margin-top:4%;
    height:85%;
    display:flex;
    flex-direction:row
}
.contact-page a{
    color:#171617
}
.contact-column{
    width:50%;
    margin:2%
}
.sous-titre-contact{
    font-size:2.5em
}
.references-info{
    display:flex;
    flex-direction:row;
    margin:1%;
    margin-top:2%
}
.info-prof{
    display:flex;
    flex-direction:column
}
.textRef{
    margin:2%;
    margin-left:10%
}
.img-reference{
    width:200px;
    height:200px;
    border-radius:50%
}
.bar-reference{
    margin:5% 0 5% 0;
    border-left:solid #171617
}
.name-reference{
    margin-top:7%
}
.myContact-info{
    display:flex;
    flex-direction:column;
    height:33%
}
.reseauxContact{
    width:18%;
    transition:all 1s
}
.reseaux-contact{
    margin-left:30%;
    margin-top:7%
}
.reseauxContact:hover{
    transform:translateY(-15px)
}
.myContact-img{
    width:70px;
    height:70px
}
.contact-oneInfo{
    justify-content:center;
    display:flex;
    flex-direction:row;
    /* margin-top:3% */
}
.contact-oneInfo h4{
    line-height:4
}
@keyframes slideInTop{
    0%{
        opacity:0;
        transform:translateY(150px)
    }
    100%{
        transform:translateY(0)
    }
}
.slideInTop{
    -webkit-animation:slideInTop 1.5s ease-out both;
    animation:slideInTop 1.5s ease-out both
}
@keyframes bounce{
    0%{
        margin-top:0%
    }
    100%{
        margin-top:2.5%
    }
}
@keyframes fade{
    0%{
        opacity:0;
        transform:scale(1.3)
    }
    50%{
        opacity:.5;
        transform:scale(1.15)
    }
    100%{
        opacity:1;
        transform:scale(1)
    }
}
@keyframes fadeQuoi{
    0%{
        opacity:0;
        text-shadow:0 0 40px #e3b405
    }
    50%{
        opacity:.5;
        text-shadow:0 0 10px #e3b405
    }
    100%{
        opacity:1;
        text-shadow:0 0 1px #e3b405
    }
}
.fadeQuoi{
    -webkit-animation-name:fadeQuoi;
    animation-name:fadeQuoi;
    animation-duration:2s
}
@-webkit-keyframes fadeIn{
    0%{
        opacity:0
    }
    100%{
        opacity:1
    }
}
@keyframes fadeIn{
    0%{
        opacity:0
    }
    100%{
        opacity:1
    }
}
.fadeIn{
    -webkit-animation-name:fadeIn;
    animation-name:fadeIn;
    animation-duration:4s
}
@-webkit-keyframes slideInLeft{
    0%{
        opacity:0;
        -webkit-transform:translate3d(-100%,0,0);
        -ms-transform:translate3d(-100%,0,0);
        transform:translate3d(-100%,0,0)
    }
    100%{
        opacity:1;
        -webkit-transform:none;
        -ms-transform:none;
        transform:none
    }
}
.slideInLeft{
    -webkit-animation:slideInLeft 2s;
    animation:slideInLeft 2s
}
@keyframes sdb07{
    0%{
        opacity:0
    }
    50%{
        opacity:1
    }
    100%{
        opacity:0
    }
}
@keyframes sdb10{
    0%{
        -webkit-transform:translate(0,0);
        opacity:0
    }
    40%{
        opacity:1
    }
    80%{
        -webkit-transform:translate(0,20px);
        opacity:0
    }
    100%{
        opacity:0
    }
}
/* @keyframes skillsAnim{
    0%{
        width:0
    }
}
.skillsAnim{
    animation-name:skillsAnim;
    animation-duration:2.5s;
    animation-timing-function:ease-in-out;
    animation-fill-mode:forwards
} */
@-webkit-keyframes slideInDown{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,+100%,0);
        -ms-transform:translate3d(0,+100%,0);
        transform:translate3d(0,+100%,0)
    }
    100%{
        opacity:1;
        -webkit-transform:none;
        -ms-transform:none;
        transform:none
    }
}
.slideInDown{
    -webkit-animation:slideInDown 1s;
    animation:slideInDown 1s
}
@-webkit-keyframes slideInUp{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,-100%,0);
        -ms-transform:translate3d(0,-100%,0);
        transform:translate3d(0,-100%,0)
    }
    100%{
        opacity:1;
        -webkit-transform:none;
        -ms-transform:none;
        transform:none
    }
}
.slideInUp{
    -webkit-animation:slideInUp 1s;
    animation:slideInUp 1s
}
@-webkit-keyframes slideInLeft{
    0%{
        opacity:0;
        -webkit-transform:translate3d(-100%,0,0);
        -ms-transform:translate3d(-100%,0,0);
        transform:translate3d(-100%,0,0)
    }
    100%{
        opacity:1;
        -webkit-transform:none;
        -ms-transform:none;
        transform:none
    }
}
.slideInLeft{
    -webkit-animation:slideInLeft 2s;
    animation:slideInLeft 2s
}
@-webkit-keyframes slideInRight{
    0%{
        opacity:0;
        -webkit-transform:translate3d(+100%,0,0);
        -ms-transform:translate3d(+100%,0,0);
        transform:translate3d(+100%,0,0)
    }
    100%{
        opacity:1;
        -webkit-transform:none;
        -ms-transform:none;
        transform:none
    }
}
.slideInRight{
    -webkit-animation:slideInRight 2s;
    animation:slideInRight 2s
}
.bounce-7{
    animation:bounce-7 2s alternate delay iteration-count direction fill-mode
}
@keyframes bounce-7{
    from{
        transform:translateY(0)
    }
    to{
        transform:translateY(-20px)
    }
}
/* .animated{
    -webkit-animation-duration:3s;
    animation-duration:3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
.animated.hinge{
    -webkit-animation-duration:2s;
    animation-duration:2s
} */
