/* PHONE PORTRAIT*/
@media only screen 
  and (min-device-width: 350px) 
  and (max-device-width: 767px) 
  and (orientation: portrait) 
  { 
    #headerMenu{
      display: none;
    }
    .titreaccueil{
        margin-left: 0%
      }
      #h1-creations{
        width: 100%;
        font-size: 2.5em;
      }
      #h2-creations{
        margin-left: 0%;
        margin-right: 0%;
      }
      #h1-contact{
        margin-right: 0%;
        margin-left: 0%;
        width: 100%;
        font-size: 2em;
      }
      #h1-classes{
        width: 100%;
        font-size: 2em;
      }
      #h1-parametres{
        width: 100%;
        font-size: 2em;
      }
      #jesuis{
        width: 100%;
        font-size: 2em;
      }
      section h2{
        font-size: 5em;
        animation: none;
      }
      .box{
         
      }
      #showreel{
        padding: 0% 3% 0% 3%;
        padding-bottom: 10%;
        /* padding-top: 12vh; */
        display: flex;
        flex-direction: column;
      }
      #showreel iframe{
        height: 203px;  }
      .box > span {
        color: white;
        font-size: 1em;
        display: block;
        text-align: center;
        height: 10vh;
        line-height: 3.5;
    }
    .boxShowreel{
      margin: 6% 0% 3% 0%;
      /* width: 96%;
      margin-left: 2%;
      margin-right: 2%; */
    }
    .boxShowreel h3 {
      font-size: 1.0em;
      line-height: 2.5;
      color: #fff !important;
      /* margin-top: 5%; */
      text-align: center;
  }
    .videoShowreel{
      height: 30.5vh;
    width: 100%;
    }
    .button-portfolio .button{
      font-size: 0.7em;
      /* margin-right: 2px; */
      margin-left: 2px;
      width: 100%;
      
    }
    /* #items-portfolio img {
      margin-top: 30%;
      width: 150px;
      height: 150px;
    } */
    #items-portfolio h4 {
      font-size: 0.7em;
    }
    #items-portfolio h3 {
      font-size: 1.0em;
    }
    #navmenu{
      display: none;
    }
    .button-tel{
      display: block;
      visibility: hidden;
    }
    #image-fixed{
      padding: 8% 5% 2% 5%;
      display: flex;
      max-width: 100%;
      height: fit-content;
      position: relative;
      top: 3%;
      text-align: center;
      flex-direction: row;
    }
    .reseaux{
      width: 100%;
    }
    .soustitre{
      margin: 5%;
      font-size: 1em;
    }
    .button-portfolio{
      /* display: none; */
      margin-bottom: 10%;
      /* justify-content: space-evenly; */
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 10px;
    }
    .contact-logo{
      width: 15%;
    }
    #classes .container{
      display: inline-block;
    }
    #classes .box > img {
      width: 100%;
      height: 50%;
    }
    #classes .box > span {
      font-size: 1.2em;
    }
    /* #portfolio .box{
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 3%;
      width: 90%;
    } */
    #items-portfolio video{
      width: 350px;
      height: auto;
    }
    #items-portfolio img{
      width: 350px;
    height: 196.88px;
    }
    .overlay{
      position: fixed;
  }
  .popup{
    top: 5vh;
      max-width: 80%;
      height: 85%;
      width: 80%;
  }
  .popup h2{
    margin-left: 10%;
    margin-right: 10%;
  }
  .flex-popup{
      flex-direction: column;
  }
  .imgPopup{
      width: -webkit-fill-available;
      height: 60vw;
  }
  .popup .button {
      margin-bottom: 5%;
  }
  .popup .content{
    margin-top: 5%;
      max-height: 90%;
  }
  .color-img {
    border: solid 2px;
    width: 6.5vh !important;
    height: 6.5vh !important;
    transition: linear 0.3s;
}
.popup-flex-color{
  display: block;
}
.ordiColors{
  display: none;
}
.phoneColors{
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 2%;
}
  .popup video{
    width: -webkit-fill-available !important;
  }
  .popup img{
    width: -webkit-fill-available !important;
    height: auto;
  }
  #kcorpPopup{
    height: auto !important;
  }
  #solaryPopup{
    height: auto !important;
  }
  .popup .close{
      top: 8px;
      font-size: 40px;
  }
  
  #divJoucazLogo{
    margin: 3% 0% 5% 0%;
  }
  #JoucazLogo {
    width: 20%;
  }

  .switch{
    width: 60px;
    height: 32px;
    border-radius: 32px;
  }
  .switch input{
    display: none;
  }
  .switch input:checked + div{
    left: calc(100% - 25px);
  }
  .switch div{
    width: 32px;
    height: 32px;
    border-radius: 32px;
    top: 0;
    left: 0;
  }
  .interuptor{
    gap: 15px;
  }
  
}